
  

<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
      
       Datos de Usuario
      </ng-template>
      <app-datosusuario></app-datosusuario>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
      
        Producto
      </ng-template>
      <app-producto></app-producto>
 
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
       
        Confirmacion
      </ng-template>
  
     <app-confirmacion></app-confirmacion>
    </mat-tab>
  </mat-tab-group>