.main-div mat-card{
    padding: 0px;
}

.login-form{
    padding: 20px;
}
.text p{
    text-align: center;

}

.btnregister{
    margin-left: 270px;
}

.danger{
    color: red;
}

.logo{
    max-width: 2000px;
    max-height: 200px;
   
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

mart-card{
    max-width: 600px;
    max-height: 600px;
    margin: 2em auto;
    text-align: center;
}


