
<br>
<mat-card-content>

    <div fxLayoutAlign="center center"    >
        <img class="logo" src="./assets/img/logo-freddyrada.jpg"/>
    </div>
    <br>
    <br>


    <div fxLayoutAlign="center center" fxFlexFill class="main-div"  >

        <mat-card fxFlex="40" class="mat-elevation-z8"   >
    <mat-toolbar color="primary"  >Login User</mat-toolbar>
            <form fxLayoutAlign="stretch"  
            fxLayout="column"  
            class="login-form"
            [formGroup]="formLogin"
           >
    
                <mat-form-field  >
                    <input matInput   
                    placeholder="Email"
                    formControlName="email" >
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput   
                    placeholder="Password"
                    formControlName="password">
                    <mat-icon matSuffix> vpn_key</mat-icon>
                    
                </mat-form-field>
    
            </form>
    
      
    
            <button mat-raised-button color="primary"   (click)="Login()" fxFlexFill type="submit">Login</button>
    
            
            <br>
            <br>
       
          
                <a routerLink="/register" ><p fxLayoutAlign="center center" style="color: darkslateblue;" class="pointer " >Registrar</p></a>
            
        </mat-card>
       
    </div>
    
</mat-card-content>

 