<div class="container">
    <div class="row">
        <div fxLayoutAlign="center center" class="col-md-6">
       <div fxLayoutAlign="center center" fxLayout="row wrap" class="posicion">
        <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    
            <mat-card fxFlex="75" class="mat-elevation-z4"  class="login-form">
                <mat-card-header>
                    <mat-card-title>Nuevo Hospital</mat-card-title>
                  </mat-card-header>
        
              <form 
              fxLayout="column" 
              fxLayoutAlign="stretch"
              [formGroup]="FormHospital"
          
              >
                  <div class="form-group row" *ngIf="hospitalSeleccionado"  >
              <img class="w90 pointer" [src]="hospitalSeleccionado.img! | imagen:'hospitales'" />
            </div>
    
                
                 
                    <input matInput  
                    type="text" 
                    
                    placeholder="Nombre"
                    formControlName="nombre"
                
                   >
                   <mat-icon matSuffix>account_circle</mat-icon>
        
        
              <select formControlName="usuario">
                  <option value="" >Seleccione un usuario</option>
                  <option [value]="usuario.uid" 
                  *ngFor="let usuario of usuarios"
                    >{{usuario.nombre}}</option>
              </select>
                 
               
                   
                
              
                   <button mat-raised-button color="primary"  (click)="CrearHospital()"  type="submit"  >Guardar Cambios</button>
        
            </form>
        
           
     
        
        
        
          
            </mat-card>
        
        
        </div>
        
    
      </div>
    
    </div>
    
    
    
    <div fxLayoutAlign="center center" class="col-md-6" *ngIf="usuarioSeleccionado" >
        <div fxLayoutAlign="center center" fxFlexFill class="main-div" >
    
            <mat-card fxFlex="100" class="mat-elevation-z8"  class="login-form " >
    
                 <mat-card-header>
                    <mat-card-title>Usuario Asignado</mat-card-title>
                    <mat-card-title></mat-card-title>
                  </mat-card-header> 
                  <br>
        
           <div>
    
            <div class="text-center">
              <!-- <img *ngIf="!imgTemp" [src]="usuario.imagenUrl"  class="w90"/>
                <img *ngIf="imgTemp" [src]="imgTemp"  class="w90"/>
                -->
            </div>
    
            <img 
              [src]= "usuarioSeleccionado.img | imagen:'usuarios'"   class="w100"  />
    
           </div>
        
           <br>
           
        <button mat-raised-button color="primary" type="submit" class="botones"   >Cargar Foto</button>
        
        
        
          
            </mat-card>
        
        
        </div>
        
    
    </div>
    
    </div>
    
    </div>
