
<div class="row animated fadeIn fast" *ngIf="cargando">

  <div class="col-12">
    <div class="alert alert-info text-center">
      <mat-spinner class="spiner"></mat-spinner>
      <h4 class="alert-heading">Cargando</h4>
     
      
      <p class="mb-0">Por favor espere</p>

    </div>

  </div>
 

</div>


<app-breadcrumbs></app-breadcrumbs>


<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar Hospital" #input>
</mat-form-field>

<div class="text-right">
  <button mat-raised-button 
  routerLink="/dashboard/hospital/nuevo"
  class="colorboton colomodalletras" >Crear Nuevo</button>
</div>


<div class="mat-elevation-z8">
  <table mat-table *ngIf="!cargando"[dataSource]="dataSource" matSort>

    <!-- ID Column -->


    <!-- Progress Column -->
    <ng-container matColumnDef="avatar" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
      <td mat-cell *matCellDef="let hospital"> 
      <img (click)="openDialog(hospital)" class="w130 pointer"[src]="hospital.img | imagen:'hospitales'"
      [alt]="hospital.nombre"/>  
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nombre </th>
      <td mat-cell *matCellDef="let hospital" class="text-center"> 
       {{hospital.nombre}}
         </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let hospital"> 
        <mat-icon [routerLink]="['/dashboard', 'hospital', hospital._id]" class="pointer"  >edit</mat-icon>
        <mat-icon (click)="BorrarHospital(hospital)" class="icondelete pointer">delete</mat-icon>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
