.main-div mat-card{
    padding: 0px;
  
}

.login-form{
    padding: 20px;
}

.boton{
    margin-left: 170px;
}

.danger{
    color: red;
}

.botones{
    margin-left: 60px;
}

mat-card{
    width: 200px;
}



