/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}


.w60{
    width: 80px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;

    text-align: center;
}


.w90{
    width: 90px;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;

    text-align: center;
}

.colorboton{
    background-color: #ff8f00;
}

.w100{
    width: 100px;
}


.botonera {
    display: flex;
    justify-content: space-between;
  
    width: 60%;
  }


.main-div {
    padding: 0px;
    
}

.colomodalletras{
    color: white;
}


.icondelete{
    color:#bf360c ;
  }


  .w130{
      width: 100px;
      border-top-left-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      border-bottom-right-radius: 50% 50%;
      border-bottom-left-radius: 50% 50%;
  }




  .tablesive{
    width: 100%;
    overflow-x: auto;
  }
