<div fxLayoutAlign="center center" >
    <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Freddy Rada Alejandro</mat-card-title>
          <mat-card-subtitle>Desarrolllador Frontend</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/fotoig.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Hola mi nombre es Freddy Rada soy Ecuatoriano, me apasiona el desarrollo frontend, y estudiar las nuevas tecnologias que se puedan implementar, he realizado esta aplicacion con el fin de 
            mostrar el aprendizaje que he tenido en este corto tiempo, y tambien esperando que sea de ayuda
            para muchos desarroladores que al igual que yo quisieron tener ejemplo asi como este para un mejor
            aprendizaje en esta aplicacion van a encontar CRUDCLASS consumidos con servicios, Authguard, Rutas Hijas
            LazyLoad, EventEmmiter, Carga de Images y muchas cosas mas lo hire puliendo con muchas cosas mas 
            para que est mas completa.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

</div>

