<div class="body">
<div class="card">
<div class="content">
<span></span>
<div class="img">
  <img src="assets/img/foto_curriculum.png" alt=""/>
</div>
<h4>Freddy Rada</h4>
<h6>Desarrollador Front-end</h6>
<p>Lcdo. Diseño Web y Aplicaciones Multimedia</p>
</div>
<div class="links">
 
<a href="https://mail.google.com/mail/u/0/#inbox"><i class="fab fa-google"></i></a>
<a href="https://www.instagram.com/freddyradafr/"><i class="fab fa-instagram"></i></a>
<a href="https://www.linkedin.com/in/freddy-rada-alejandro-55b88a163/"><i class="fab fa-linkedin-in"></i></a>
</div>
</div>
</div>


<p>Hola, mi nombre es Freddy Rada, soy apasionado por el desarrollo frontend y me gusta estudiar las nuevas 
  tecnologias que se puedan usar para implementarlas en un proyecto. Este proyecto esta realizado con diferentes
tecnologías para el backend utilice Nodejs y express, para la base de datos implemente MongoDB y para el frontend
utilice angular </p>

<div class="ms-2 text-center" >
  <h3>Realizado por Freddy Rada Alejandro</h3>
</div>

